<div class="page-footer teal accent-4">
  <div class="container">
    <div class="copyright ">
      <b>Criado no WeekCode do <a class="copyright-link" href="https://onebitcode.com/">OneBitCode</a>
      </b>
    </div>
  </div>
</div>
