body {
  background-color: #ff6347;
}

.timer {
  font-size: 120px;
  text-align: center;
}

.pomodoro-title {
  font-family: Courier,sans-serif;
  margin-left: 10px;
}

.pomodoro-title img {
  padding-left: 5px;
}

.card-action button {
  margin-left: 10px;
}